header Шапка
p тест текст

nav.header__nav
   .header__logo
      img(src="img/sm.png", alt="Логотип", srcset="")
   .header__nav--menu
      span.burger 
      ul.menu__list
         each value, index in {'Главная' : 'home', 'О компании' : 'about', 'Услуги' : 'services', 'Каталог' : 'catalog', 'Контакты' : 'contact'}
            li
               a(href= "/" + value + ".html")= index
      
      